<!DOCTYPE html>
<html lang="en" xml:lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			id="viewport"
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta id="primary author" name="author" content="Richard Joubert" />
		<meta
			id="description"
			name="description"
			content="This is a free, open source template for a simple table layout."
		/>
		<meta id="meta title" title="title" content="Simple 3x3 Table Layout" />

		<title>Simple 3x3 Table Layout</title>

		<!-- + Remove comment and use this if you choose to download the source code.
			* You actually don't need to use a [$ git] CLI command to download the file if you don't want to figure that out
				(just in case you're new to using the GIT CLI)
				
		<link
			id="local less stylesheet"
			rel="stylesheet/less"
			href="../styles/less/tables.less"
			type="text/css"
		/> -->
		<link
			id="remote less stylesheet"
			rel="stylesheet/less"
			href="https://raw.githubusercontent.com/NewSpectrum/Web-Slinging/main/templates/elements/styles/less/tables.less"
			type="text/css"
		/>

		<script
			id="less.js"
			src="https://raw.githubusercontent.com/NewSpectrum/Web-Slinging/master/lib/module.js"
			type="text/javascript"
		></script>
	</head>
</html>
