<!DOCTYPE html>
<html lang="en" xml:lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			id="viewport"
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta id="primary author" name="author" content="Richard Joubert" />
		<meta
			id="description"
			name="description"
			content="This is a free, open source template for a simple table layout."
		/>
		<meta id="meta title" title="title" content="Simple 3x3 Table Layout" />

		<title>Simple 3x3 Table Layout</title>

		<link
			id="local less stylesheet"
			rel="stylesheet/less"
			href="../styles/less/tables.less"
			type="text/css"
		/>
		<link
			id="remote less stylesheet"
			rel="stylesheet/less"
			href=""
			type="text/css"
		/>
	</head>
</html>
